@font-face {
    font-family: 'Haas Grot Disp 45';
    src: url('/fonts/HaasGrotDisp-45Light.woff2') format('woff2'),
        url('/fonts/HaasGrotDisp-45Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('/fonts/ACaslonPro-Regular.woff2') format('woff2'),
        url('/fonts/ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('/fonts/ACaslonPro-Italic.woff2') format('woff2'),
        url('/fonts/ACaslonPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

:root {
    --grey: #e5e5e5;
    --white: rgba(254, 254, 254, 1);
    --sans-stack: 'Haas Grot Disp 45', Helvetica, Arial, sans-serif;
    --serif-stack: 'Adobe Caslon Pro', 'Caslon', 'Times new roman', Times, serif;
    --large: 63px; /* 70 * 0.9 */
    --intro: 36px; /* 40 * 0.9 */
    --body: 22.8px; /* 24 * 0.95 */
    --small: 15.2px; /* 16 * 0.95 */
    --mobile_large: 42px; /* 60 * 0.7 */
    --mobile_intro: 25.2px; /* 36 * 0.7 */
    --mobile_body: 22.8px; /* 24 * 0.95 */
    --mobile_small: 15.2px; /* 16 * 0.95 */
    --black: rgba(0, 0, 0, 1);
    --transition: cubic-bezier(0.23, 1, 0.32, 1);
    --small-margin: 5px;
    --large-vertical-margin: 32px;
    --full-height: 100vh;
    --height: 80px;
  }
  
  html {
    padding: 0;
    margin: 0;
  }
  
  html.bureau {
    background-color: var(--grey);
  }
  
  body {
    background: var(--white);
    padding: 0;
    margin: 0;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  ::selection {
    background: #e4e4e4;
  }
  
  ::-moz-selection {
    background: #e4e4e4;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  strong {
    font-weight: normal;
    text-transform: uppercase;
    font-family: var(--sans-stack);
  }
  
  .body-text a {
    border-bottom: 1px solid $black;
    transition: border 0.3s ease-out;
  }
  
  .body-text a:hover {
    border-bottom: 1px solid transparent;
  }
  
  .body-text em {
    font-family: inherit;
    font-style: italic;
  }
  
  .body-text strong {
    font-weight: normal;
    text-transform: none;
    font-family: var(--sans-stack);
    font-size: 21px;
  }
  
  em {
    font-family: inherit;
    font-style: italic;
    padding-right: 2px;
  }
  
  .splash-text em {
    color: var(--white);
    padding-right: 4px;
    position: relative;
    top: -1px;
  }
  
  blockquote {
    display: block;
    font-family: inherit;
    font-size: var(--large);
    line-height: 1em;
    font-style: italic;
    margin: 0 auto 1.2rem;
    max-width: 90vw;
  }
  
  @media screen and (max-width: 800px) {
    blockquote {
      font-size: var(--mobile_large);
      margin-left: var(--small-margin);
      margin-right: var(--small-margin);
    }
  }
  
  blockquote a {
    display: inline-block;
    height: 0.85em;
  }
  
  .content {
    font-family: var(--serif-stack);
  }
  
  .content a {
    color: currentColor;
    text-decoration: none;
    border-bottom: 1px solid var(--black);
    transition: border 0.3s var(--transition);
  }
  
  .content a:hover {
    border-bottom: 1px solid transparent;
  }
  
  .content p {
    display: block;
    width: 800px;
    max-width: 95vw;
    font-family: inherit;
    font-size: var(--body);
    line-height: 1.2em;
    margin: 0 auto var(--large-vertical-margin);
  }
  
  @media screen and (max-width: 800px) {
    .content p {
      max-width: unset;
      width: calc(100% - 10px);
      margin-left: var(--small-margin);
      margin-right: var(--small-margin);
    }
  }
  
  .content p.small {
    font-family: var(--sans-stack);
    font-size: var(--small);
    letter-spacing: 0.1em;
  }
  
  .content p.small a {
    color: currentColor;
    text-decoration: underline;
    border-bottom: none;
    transition: border 0.3s var(--transition);
  }
  
  .content p.small a:hover {
    text-decoration: none;
    border-bottom: none;
  }
  
  @media screen and (max-width: 800px) {
    .content p.small {
      font-size: var(--mobile_small);
    }
  }
  
  .content p.interview-question {
    font-family: var(--sans-stack);
    font-size: 21px;
    margin-bottom: 0.8em;
  }
  
  .content p.introduction {
    font-family: inherit;
    font-style: italic;
    font-size: var(--intro);
  }
  
  @media screen and (max-width: 800px) {
    .content p.introduction {
      font-size: var(--mobile_intro);
    }
  }
  
  .content p.introduction a {
    display: inline-block;
    height: 1em;
  }
  
  @media screen and (max-width: 800px) {
    .content {
      font-size: var(--mobile_body);
      margin-bottom: 0px;
    }
  }
  
  .splash-text div p {
    margin: 0;
  }
  
  /* .carousel {
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .carousel.hidden {
    display: none;
  }
  
  .carousel.flickity-enabled {
    opacity: 1;
  }
  
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-enabled .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
   */
   
  .overlay-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .overlay-banner.mailing-list {
    background: rgba(255, 255, 255, 0.95);
  }
  
  .overlay-banner .inner {
    display: block;
  }
  
  .overlay-banner .inner img {
    max-width: 80vw;
    max-height: 75vh;
  }
  
  .overlay-banner .inner video {
    max-width: 70vw;
    max-height: 65vh;
  }
  
  .overlay-banner .close {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
    width: 15px;
    transform: scale(1);
    transition: transform 0.25s ease-out;
    cursor: pointer;
  }
  
  .overlay-banner .close:hover {
    transform: scale(1.3);
  }
  
  .about-text p {
    margin-top: 0;
    margin-left: var(--small-margin);
  }
  
  .contact p {
    margin-top: 0;
  }
  
  .about-text a,
  .contact a {
    border-bottom: 3px solid $black;
  }
  
  @media screen and (max-width: 800px) {
    .about-text a,
    .contact a {
      border-bottom: 1px solid $black;
    }
  }
  
  .about-text a:hover,
  .contact a:hover {
    border-bottom: 3px solid transparent;
  }
  
  @media screen and (max-width: 800px) {
    .about-text a:hover,
    .contact a:hover {
      border-bottom: 1px solid transparent;
    }
  }

  /* EMBLA */
  
  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  